.btn__profile-card-add {
    width: 150px;
    height: 50px;
    border: none;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 0;
    background: #000000;
    background-image: url(../../../images/add-button-small.png);
    cursor: pointer;
}

.btn__profile-card-add:hover {
    opacity: 0.6;
}

@media screen and (max-width: 940px) {
    .btn__profile-card-add {
        width: 282px;
        background-image: url(../../../images/add-button-big.png);
    }
}