.popup__containerzoom {
    position: relative;
    /*   display: inline-block;
    */
    max-height: 75vh;
    max-width: 75vw;
}

@media screen and (max-width: 940px) {
    .popup__containerzoom {
        max-height: 75vh;
        max-width: 75vw;
    }
}

@media screen and (max-width: 620px) {
    .popup__containerzoom {
        max-height: 75vh;
        max-width: 75vw;
    }
}